<a href = "/"><span class="back">↫ go home</span></a>
<h1>Admin</h1>

<% @queries.each  do |query| %>
  <div class="query-box">
    <p>
      <span class="query-text"><%= query.text %> (<span class="result-count"><%=query.results.count %></span>x)
      <button type="submit" class="delete-query-button" data-id="<%= query.id %>">&times;</button> </span>
    </p>

    <% query.results.each do |result| %>
      <div class="result-box">
        <img class="result-box-image" src="<%= result.image_url %>">
        <button type="submit" class="delete-result-button" data-id="<%= result.id %>">&times;</button>
      </div>
    <% end %>
  </div>
<% end %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="javascripts/admin.js"></script>
